html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: black;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin: 0.66rem 1rem 0.66rem 0.5rem;
}

.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  padding-top: 2.32rem;
}

.new-arrival {
  background-color: black;
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  color: white;
}

.new-arrival h4 {
  font-weight: bold;
}

.new-arrival h1 {
  padding-top: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}

nav {
  background-color: firebrick;
}

nav a {
  text-decoration: none;
  color: white;
}

.menu-items {
  padding: 0.75rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.menu-red {
  padding: 0.75rem 0rem;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

#samples {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.item {
  width: 30%;
}

.item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.item-image img {
  max-width: 8rem;
}

.name {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}

#location {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.info {
  width: 35%;
}

.location-time {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

footer {
  background-color: black;
  color: white;
  padding: 5rem 0rem;
  margin-top: 4rem;
}

@media only screen and (max-width: 1024px) {
  .menu-items {
    display: none;
  }
  .menu-red {
    display: flex;
  }
  .item {
    width: 47%;
  }
  .item .glasses {
    display: none;
  }
}
